body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
}

h1 {
    color: #fff;
    border: 1px solid white;
    box-shadow: inset 0 0 25px #6643b5, 0 0 25px #6643b5;
    padding: 8px 8px;
    margin: auto;
    width: 170px;
    height: 80px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: 1px solid white;
    border-radius: 60px;
    box-shadow: inset 0 0 25px #6643b5, 0 0 5px #6643b5;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6643b5;
}

.Derechos{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: white;
}